form {
    margin: 10px 0 10px 10px;
}

select {
    border: none;
    font-size: 1.2em;
}

input {
    border: none;
    background-color: rgb(195 195 218);
    margin-left: 15px;
    padding: 10px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: all 400ms;
}

input:hover {
    border-radius: 3px;
    background-color: rgb(207, 90, 90);
}
